recommenders==1.1.1
scrapbook
tensorflow-estimator==2.10.0
numpy==1.23.4
#torchbench==0.0.31
datasets==2.13.1
evaluate==0.4.0
alembic==1.11.1
git+https://github.com/huggingface/transformers #install the latest
scikit-learn
accelerate==0.21.0
